:root {
    /* color */
    --teal-green: #128C7E;
    --teal-green-trans: #128c7ea6;
    --teal-green-dark: #075E54;
    --blue: #34B7F1;
    --light-green: #25D366;
    --display: rgb(4, 30, 34);
    --light-dark: rgb(6, 22, 19);
    --gray: rgb(161, 145, 145);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: helvetica;
    scroll-behavior: smooth;
}


body, .user_inputs, .initiate_contact, .personInfo, .name_time, .utilities, .dm, .head_icons, .head_icons .icons, .display, .major_head, .archive {
    display: flex;
    align-items: center;
}

body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 550px;
    max-width: 800px;
    border: solid 1px var(--light-dark);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* hero styling */
.hero_header{
    display: flex;
    align-items: center;
    background-color: var(--light-dark);
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    padding: 0 20px;
}

.currentpage {
    display: none;
}


.hero_title {
    display: none;
}

.head_icons {
    width: 100%;
}

.head_icons .icon {
    background-color: var(--light-dark);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
    margin: 0 10px
}

.icon:active {
    background-color: lightgreen;
}

.icon:nth-of-type(4) {
    margin-left: auto;
}

#bright {
    transition: .8s;
}

#bright:hover {
    transform: rotate(360deg);
}

.head_icons .icon img {
    width: 70%;
}
/*************** End of the hero styling *********/

/******* Beginnig of the displays**********/
.display {
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
}

.major_display {
    width: 35%;
    height: 100%;
    background-color: var(--display);
}


.major_display, .message_view {
    padding: 5px 10px;
    color: white;
    position: relative;
}

.chat_div, .group_div, .status_div, .calls_div, .announce_div {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s .2s ease-out;
    overflow: hidden;
    overflow-y: scroll;
}

.chat_div::-webkit-scrollbar {
    display: none;
}

.major_head {
    justify-content: flex-end;
    width: 100%;
}

.major_head img {
    width: 20px;
    margin: 0 4px;
}

.major_title {
    margin-right: auto;
    font-weight: 300;
}

/* search bar */
.searchbar {
    margin-top: 10px;
    width: 100%;
    position: relative;
}

#search {
    border: none; 
    outline: none;
    width: 100%;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border-bottom: solid 1px var(--blue);
}

#search:focus {
    border-bottom: solid 3px var(--teal-green);
}

#search::placeholder {
    color: gainsboro;
}

.icon_search {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%) rotateY(180deg);
}

/* searchbar end */

/* archive */
.archive {
    width: 0;
    height: 0;
    margin-top: 10px;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 200;
    background-color: #121212;
    overflow: hidden;
}

.archive_text {
    margin-left: 20px;
}

.archive img {
    width: 20px;
}

.num_archive {
    margin-left: auto;
}
/* archive end */

/* messages */
.messages {
    padding-top: 10px;
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

/* encrypt messages */
.encrypt_page {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--light-dark);
    border-radius: 20px 20px 0 0;
    z-index: 10;
    padding: 10px 10px 0 10px;
    color: white;
    transition: .2s 1s ease-in-out;
}

.encrypt_page .encrypt_close {
    width: 25px;
}


.imp_info {
    margin-top: 80px;
    display: block;
    border-top: 1px gray dotted;
    padding: 10px 0;
}

.imp_info .about {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.imp_info .about a {
    text-decoration: none;
    color: var(--light-green);
}

.imp_info .about img {
    width: 20px;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.dm_holder {
    display: flex;
    flex-direction: column-reverse;
}
.dm {
    padding: 10px 0;
    height: 60px;
    justify-content: space-evenly;
}

.dm:active {
    background-color: var(--teal-green-trans);
}

.dm .profile_pic {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.dm .profile_pic .profile_image {
    width: 100%;
    object-fit: cover;
}

.msg_detail {
    width: calc(100% - 60px);
}

.name_time {
    justify-content: space-between;
    font-size: 12px;
}

.name {
    font-weight: 600;
}

.time {
    color: var(--light-green);
    font-weight: 600;
}

.utilities {
    margin-top: 7px;
    justify-content: space-between;
}

.utilities img {
    width: 15px;
}

.utilities .text_message, .utilities .num_messages {
    font-size: 11px;
    white-space: nowrap;
    margin: 0 3px;
}

.utilities .num_messages {
    background-color: var(--teal-green);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

/**********************************************/
.mute, .delivery {
    display: none;
}
/*********************************************/

/* messages end */

/* message view starts */
.message_view {
    width: 65%;
    height: 100%;
    background-image: linear-gradient(180deg, var(--teal-green-trans), transparent, transparent, transparent),url(assets/desktopdark.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* personal information */
.personInfo {
    justify-content: flex-start;
    height: 50px;
}

.personInfo span {
    height: 100%;
}

.personInfo img {
    width: 40px;
}

.personInfo_img {
    width: 10%;
    display: grid;
    place-items: center;
}

.personInfo_img img {
    display: block;
}

.personInfo_detail {
    width: 50%;
    margin-left: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person_name {
    font-weight: 500;
}

.status {
    font-size: 11px;
    color: var(--blue);
    margin-top: 5px;
}

.initiate_contact {
    flex-flow: nowrap row;
    width: 30%;
    justify-content: flex-end;
}

.initiate_contact img {
    width: 25px;
    margin-right: 20px;
}

/* text display area */
.text_display_area {
    width: 100%;
    height: calc(100% - 70px);
    padding: 10px 0;
    overflow: hidden;
    overflow-y: scroll;
}


.user, .receiver {
    background-color: var(--light-dark);
    width: 60%;
    border-radius: 30px;
    height: auto;
    padding: 10px;
    margin: 5px 0;
    font-size: 13px;
}

.user {
    float: right;
}

.receiver {
    clear: right;
}


/* user inputs */
.user_inputs {
    background-color: black;
    width: 100%;
    min-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 10px 0;
    border-radius: 30px;
}

.user_inputs img {
    width: 20px;
    justify-content: flex-start;
    margin-left: 25px;
}

#user_message {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    resize: none;
}

#user_message:focus {
    border: none;
}

/********* contactList button ****/
.addNewChat {
    background-color: var(--light-dark);
    width: 0;
    height: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
}


.addNewChat img {
    width: 50%;
}
/* contact list button */

/* contact list */
.contactList {
    width: 100%;
    height: 100%;
    background-color: var(--display);
    position: absolute;
    top: -100%;
    left: -100%;
    z-index: 11;
    transform: scale(0);
    transition: .5s 1s ease-in-out;
    color: white;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-dark);
    padding: 2px 10px;
    height: 45px;
}

.selection img {
    width: 25px;
}

.selection img:nth-of-type(2) {
    margin-left: auto;
    margin-right: 20px;
}

.selecting {
    font-size: 15px;
    margin-left: 19px;
}

.select_title {
    font-size: 16px;
    margin-bottom: 5px;
}

.digits {
    font-size: 11px;
}

.contactList_display {
    height: calc(100% - 45px);
    overflow: hidden;
    overflow-y: scroll;
}

.indi {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

.indi:active {
    background-color: var(--teal-green-trans);
}

.indi_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.indi_pic {
    width: 100%;
    object-fit: cover;
}

.indi_name {
    margin-left: 10px;
}

.indi_name .quote, .contactList_display .twities {
    color: rgb(218, 205, 205);
    font-size: 13px;
}

.contactList_display .twities {
    margin-left: 20px;
}


/* message return */
.personInfo .return {
    display: none;
}

/******************** media query **********/
@media screen and (max-width: 375px) {

    .personInfo .return {
        display: block;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .personInfo .return:active {
        background-color: var(--teal-green-trans);
        border-radius: 30px;
    }

    .personInfo .return img {
        width: 100%;
    }

    .initiate_contact img {
        margin-right: 10px;
    }

    .personInfo_detail {
        margin-left: 20px;
    }
        
    /* .personInfo {
        justify-content: flex-start;
        height: 50px;
        background-color: white;
    } */
    
    .addNewChat {
        overflow: visible;
        width: 50px;
        height: 50px;
    }
    /* add new chat here */

    .message_view {
        position: absolute;
        width: 100%;
        transform: translateX(100%);
        transition: .4s;
        top: 0;
        background-image: linear-gradient(180deg, black, transparent), url(assets/mobiledark.jpg);
    }

    /* messsage view starts */

    .messages {
        padding-top: 0;
        height: 100%;
    }

    .major_head, .searchbar {
        display: none;
    }
    .major_display {
        width: 100%;
        border-bottom: 2px white solid;
    }

    .page .num{
        background-color: white;
        margin-left: 4px;
        width: 10px;
        font-size: 11px;
        height: 10px;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    .community {
        width: 10%;
        background-color: black;
    }

    .head_icons .icon img, .currentpage img {
        width: 20px;
    }

    .page {
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 100%;
        width: calc(90%/4);
        font-size: 4vw;
        font-weight: 200;
    }

    .currentpage {
        color: white;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: space-between;
    }

    .icon:nth-of-type(4) {
        margin-left: unset;
    }

    .head_icons {
        width: 60%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    /* .head_icons .icon {
        background-color: white;
    } */

    .hero_title {
        display: block;
        color: var(--gray);
        font-size: 7vw;
    }

    .hero_header {
     padding: 0 10px;   
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--light-dark);
    }

    .display {
        position: unset;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 0;
    }

    body {
        display: block;
        width: 100%;
        height: 100vh;
    }
}

/* class to add onclick */
.showmsgview {
    transform: translateX(0%);
    z-index: 10;
}

.showEncrypt {
    bottom: 0;
}

.showtrans {
    transform: scale(1);
    left: 0;
    top: 0;
}

.glued {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
}

.showarchive {
    padding: 5px;
    width: 100%;
    height: auto;
}

.active {
    background-color: var(--gray);
    border-top: solid 3px var(--light-green);
}

.pageactive {
    color: yellowgreen;
    border-bottom: yellowgreen solid 2px;
}

.bggreen {
    background-color: var(--light-green);
}

.invisible {
    visibility: hidden;
}

.hide {
    display: none;
}